:root{
	--primary__color: #1D1D1D;
	--secondary__color: #390050;
	--third__color: #432C46;
	--fourth__color: #C46ED0;
	--primary__font: 'Source Sans Pro', sans-serif;
	--secondary__font: 'Source Sans Pro', sans-serif;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
body {
	margin: 0;
	font-family: var(--primary__font);
	font-size: 1.4rem;
	line-height: 1.5rem;
	color: var(--primary__color);
}


code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

.content p {
	color: var(--primary__color);
	font-size: 18px;
	line-height: 28px;
	margin: 0 auto;
	margin-bottom: 12px;
	word-break: break-word;
	font-weight: 300;
}
.content h2 {
	font-size: 1.4em;
	font-weight: 500;
	color: var(--secondary__color);
}
.content img {
	width: 100%;
}
.content pre {
	background-color: #f9f9f9;
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.05);
	padding: 0.5em;
	border-radius: 2px;
	overflow-x: auto;
}
.content pre code {
	background-color: transparent;
	padding: 0;
}
.content ul {
	line-height: 1.5;
}
.content li {
	margin: 0 0 0.5em 0;
}

.content iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.content .youtube {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.content .kg-embed-card {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	margin: 0.4em 0 1.6em;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}